<div class="cursor z-10" id="cursor"></div>

<style is:global>
	.cursor-target-text {
		position: relative;
		margin: 0;
		user-select: none;
	}
	.cursor {
		border-radius: 50px;
		width: 30px;
		height: 30px;
		border: solid 1px #fff;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 10%;
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
		mix-blend-mode: difference;
		pointer-events: none;
	}
</style>

<script>
	import { gsap } from "gsap";

	function elementOrParentIsFixed($element) {
		var currentElement = $element;
		while (currentElement && currentElement !== document.body) {
			var style = window.getComputedStyle(currentElement);
			if (style.position === "fixed") {
				return true;
			}
			currentElement = currentElement.parentNode;
		}
		return false;
	}

	document.addEventListener("astro:page-load", () => {
		const element = document.querySelector(".cursor");

		class Cursor {
			constructor($el) {
				this.el = $el;
				this.bind();
			}

			bind() {
				document.addEventListener("mousemove", this.move.bind(this), false);
			}

			move(e) {
				const cursorPosition = {
					left: e.pageX,
					top: e.pageY,
				};

				const framePosition = {
					left: e.clientX,
					top: e.clientY,
				};

				document.querySelectorAll(".cursor-target").forEach((single) => {
					let isFixed = elementOrParentIsFixed(single);

					var position = cursorPosition;

					if (isFixed) {
						position = framePosition;
					}

					const triggerDistance = single.getBoundingClientRect().width;

					const targetPosition = {
						left: single.getBoundingClientRect().left + single.getBoundingClientRect().width / 2,
						top: single.getBoundingClientRect().top + single.getBoundingClientRect().height / 2,
					};
					const distance = {
						x: targetPosition.left - position.left,
						y: targetPosition.top - position.top,
					};

					let $text = single.querySelector(".cursor-target-text");

					const angle = Math.atan2(distance.x, distance.y);
					const hypotenuse = Math.sqrt(distance.x * distance.x + distance.y * distance.y);

					// TODO: find way to fix problem pon detail page
					// http://localhost:3000/portfolio/elder-ease
					if (hypotenuse < triggerDistance) {
						gsap.to(this.el, {
							left: targetPosition.left - (Math.sin(angle) * hypotenuse) / 2,
							top: targetPosition.top - (Math.cos(angle) * hypotenuse) / 2,
							duration: 0.2,
							height: single.clientHeight,
							width: single.clientHeight,
						});

						if ($text) {
							gsap.to($text, {
								x: -((Math.sin(angle) * hypotenuse) / 2),
								y: -((Math.cos(angle) * hypotenuse) / 2),
								duration: 0.2,
							});
						}
					} else {
						gsap.to(this.el, {
							left: cursorPosition.left,
							top: cursorPosition.top,
							duration: 0.2,
							height: "30px",
							width: "30px",
						});

						if ($text) {
							gsap.to($text, {
								x: 0,
								y: 0,
								duration: 0.2,
							});
						}
					}
				});
			}
		}
		const cursor = new Cursor(element);
	});
</script>
