---
const { src, alt } = Astro.props;
---

<div
	x-data="{ currentPage: window.location.pathname }"
	x-bind:class="{ 'fixed w-full homepage': currentPage === '/' }"
	class={`thumbnail bottom-0 right-0 -z-10 h-full media${src.replace(/[\/.]/g, "-")}`}
	transition:persist
	transition:name={`media${src.replace(/[\/.]/g, "-")}`}
	transition:animate="morph">
	<img class={`h-full w-full object-cover`} src={src} alt={alt} loading="lazy" />
</div>

<style is:global>
	::view-transition-old(.thumbnail) {
		display: none;
	}

	::view-transition-new(.thumbnail) {
		animation: none;
	}

	.thumbnail {
		filter: brightness(0.4);
	}
	.thumbnail.homepage {
		opacity: 0.2;
		filter: contrast(1.2) sepia(0.2);
	}
	.portfolio-items ul li.item + .thumbnail {
		@apply hidden;
	}
	.portfolio-items ul li.item:hover + .thumbnail {
		@apply block;
	}
</style>

<script>
	document.addEventListener("astro:load", () => {
		// This only runs once.
		let media = document.querySelector(`.thumbnail`);

		if (media) {
			if (window.location.pathname !== "/") {
				media?.classList.remove("fixed", "w-full", "homepage");
			}
		}
	});
</script>
