---
const { src, alt } = Astro.props;

let a = 1;
---

<div
	x-data="{ currentPage: window.location.pathname }"
	x-bind:class="{ 'fixed w-full homepage': currentPage === '/' }"
	transition:name={`media-${alt}`}
	transition:animate="initial"
	class={`thumbnail bottom-0 right-0 h-full media${src.replace(/[\/.]/g, "-")}`}>
	<img class={`h-full w-full object-cover`} src={src} alt={alt} loading="lazy" />
</div>

<style is:global>
	.thumbnail {
		filter: brightness(0.4);
	}
	.thumbnail.homepage {
		opacity: 0.2;
		filter: contrast(1.2) sepia(0.2);
	}
	.portfolio-items ul li.item + .thumbnail {
		@apply hidden;
	}
	.portfolio-items ul li.item:hover + .thumbnail {
		@apply block;
	}
</style>

<script>
	document.addEventListener("astro:page-load", () => {
		// This only runs once.
		let media = document.querySelector(`.thumbnail`);

		if (media) {
			if (window.location.pathname !== "/") {
				media?.classList.remove("fixed", "w-full", "homepage");
			}
		}
	});
</script>
