---
// TODO: implement https://codepen.io/zank/pen/qBLaRNY?editors=0010
---

<header x-data="{ fullscreenModal: false }" @keydown.escape="fullscreenModal=false" class="w-full fixed z-20" transition:animate="initial">
	<div class="flex justify-between px-10 py-5 w-full items-center">
		<div id="logo" class="cursor-target cursor-hover-effect">
			<a class="cursor-target-text parallax-element block" href="/">
				<img class="w-10" src="/logo.svg" alt="Logo" />
			</a>
		</div>

		<template x-teleport="body">
			<div
				x-show="fullscreenModal"
				x-transition:enter="transition ease-out duration-300"
				x-transition:enter-start="-translate-y-full"
				x-transition:enter-end="translate-y-0"
				x-transition:leave="transition ease-in duration-300"
				x-transition:leave-start="translate-y-0"
				x-transition:leave-end="-translate-y-full"
				class="flex fixed inset-0 w-screen h-screen justify-center bg-white overflow-auto">
				<section class="py-12 pt-32 lg:pt-12 lg:flex items-center">
					<div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
						<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-12 lg:gap-x-16 xl:gap-x-36">
							<div class="flex flex-col self-stretch justify-center">
								<div>
									<h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Contact Us</h2>
									<p class="mt-4 text-base font-normal leading-7 text-gray-600 lg:text-lg lg:mt-6 lg:leading-8">
										Unveil offers the modules and elements to craft an impeccable online platform.
									</p>
								</div>

								<div class="grid grid-cols-1 gap-8 mt-12 sm:grid-cols-2">
									<div>
										<h3 class="text-xs font-medium tracking-widest text-blue-600 uppercase">USA OFFICE Hours</h3>
										<p class="mt-5 text-base font-medium text-gray-900">
											Tuesday-Saturday<br />
											 9:00 am to 6:00 pm
										</p>
									</div>

									<div>
										<h3 class="text-xs font-medium tracking-widest text-blue-600 uppercase">Our Address</h3>
										<p class="mt-5 text-base font-medium text-gray-900">
											7624 Elm Street, Bellton, <br />
											 Cambridgeshire CB22 3DE, UK
										</p>
									</div>

									<div>
										<h3 class="text-xs font-medium tracking-widest text-blue-600 uppercase">Canada Office Hours</h3>
										<p class="mt-5 text-base font-medium text-gray-900">8502 Preston Rd. Ingle, <br />Maine 98380, USA</p>
									</div>

									<div>
										<h3 class="text-xs font-medium tracking-widest text-blue-600 uppercase">Get In Touch</h3>
										<p class="mt-5 text-base font-medium text-gray-900">
											+1-246-888-0653<br />
											 +1-222-632-0194
										</p>
									</div>
								</div>
							</div>

							<div class="bg-white shadow-xl rounded-md">
								<div class="p-6 sm:p-10">
									<form action="#" method="POST" class="space-y-6">
										<div>
											<label for="fullName" class="text-base font-medium text-gray-900">Your name</label>
											<div class="mt-2">
												<input
													type="text"
													name="fullName"
													id="fullName"
													placeholder="Enter your full name"
													class="block w-full px-4 py-4 text-base text-gray-900 bg-white border border-gray-200 rounded-md focus:outline-none focus:bg-primary-100 focus:ring-1 focus:ring-primary-900"
												/>
											</div>
										</div>

										<div>
											<label for="email" class="text-base font-medium text-gray-900">Email address</label>
											<div class="mt-2">
												<input
													type="email"
													name="email"
													id="email"
													placeholder="Enter your email"
													class="block w-full px-4 py-4 text-base text-gray-900 bg-white border border-gray-200 rounded-md focus:outline-none focus:bg-primary-100 focus:ring-1 focus:ring-primary-900"
												/>
											</div>
										</div>

										<div>
											<label for="message" class="text-base font-medium text-gray-900">Write your message</label>
											<div class="mt-2">
												<textarea
													name="message"
													id="message"
													placeholder="Write us your question here..."
													rows="4"
													class="block w-full px-4 py-4 text-base text-gray-900 bg-white border border-gray-200 resize-y rounded-md focus:outline-none focus:bg-primary-100 focus:ring-1 focus:ring-primary-900">
												</textarea>
											</div>
										</div>

										<button
											type="submit"
											class="inline-flex items-center justify-center px-12 py-4 text-base font-medium text-white transition-all duration-200 bg-primary-800 border border-transparent rounded-md hover:bg-primary-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-primary-900">
											Send message
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</template>

		<div @click="fullscreenModal = !fullscreenModal" class="p-5 cursor-pointer cursor-target cursor-hover-effect" data-parallax>
			<span class="cursor-target-text parallax-element block" x-text="fullscreenModal ? 'Close' : 'Contact'"></span>
		</div>
	</div>
</header>
<!--END Header -->

<style>
	header {
		mix-blend-mode: difference;
		position: fixed;
	}
</style>
