---

---

<header x-data="{ fullscreenModal: false }" @keydown.escape="fullscreenModal=false" class="w-full fixed z-30" transition:animate="morph">
	<div class="flex justify-between px-10 py-5 w-full items-center">
		<div id="logo" class="z-30">
			<a href="#">
				<img class="w-10" src="/logo.svg" alt="Logo" />
			</a>
		</div>

		<template x-teleport="body">
			<div
				x-show="fullscreenModal"
				x-transition:enter="transition ease-out duration-300"
				x-transition:enter-start="-translate-y-full"
				x-transition:enter-end="translate-y-0"
				x-transition:leave="transition ease-in duration-300"
				x-transition:leave-start="translate-y-0"
				x-transition:leave-end="-translate-y-full"
				class="flex fixed inset-0 w-screen h-screen justify-center bg-white z-20">
				<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900">Contact Us</h2>
					<p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
						Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.
					</p>
					<form action="#" class="space-y-8">
						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
							<input
								type="email"
								id="email"
								class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
								placeholder="name@flowbite.com"
								required
							/>
						</div>
						<div>
							<label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
							<input
								type="text"
								id="subject"
								class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
								placeholder="Let us know how we can help you"
								required
							/>
						</div>
						<div class="sm:col-span-2">
							<label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
							<textarea
								id="message"
								rows="6"
								class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
								placeholder="Leave a comment...">
							</textarea>
						</div>
						<button
							type="submit"
							class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">
							Send message
						</button>
					</form>
				</div>
			</div>
		</template>

		<div @click="fullscreenModal = !fullscreenModal" class="z-30 p-5 cursor-pointer">
			<div><span x-text="fullscreenModal ? 'Close' : 'Contact'"></span></div>
		</div>
	</div>
</header>
<!--END Header -->

<style>
	header {
		mix-blend-mode: difference;
		position: fixed;
	}
</style>
